<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<title>Movie Rating List</title>
</head>
<body>
	<a href="/movies/new">Add a new movie rating</a>
	<br/>
	<table>
		<tr>
			<th>| Movie Title | </th>
			<th> Rating | </th>
			<th>Name| </th>
			<th>Time Rated |</th>
		</tr>
		<tr th:each="movieRating : ${movieRatings}">
			<td th:text="${movieRating.title}"></td>
			<td th:text="${movieRating.rating}"></td>
			<td th:text="${movieRating.name}"></td>
			<td th:text="${movieRating.dateTime}"></td>


		</tr>
</body>
</html>