<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<title>Rate Movie</title>
</head>
<body>
	<h2>Rate Movie</h2>
	<form action="#" th:action="@{/movies}" th:object="${movieRating}" method="post">
		Move Title: <input type="text" th:field="*{title}" />
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> </span> <br />
		Rating: <input type="text" th:field="*{rating}" />
			<span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"> </span> <br />
		Name: <input type="text" th:field="*{name}" />
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> </span> <br />
		<input type="submit" value="Submit" />
	</form>
</body>
</html>